.introTitle{
    font-family: 'Amatic SC';
    margin-left: 0.2rem;
    color: orange;
}

.introPara{
    color: white;
    font-family: 'URW Chancery L, cursive';
    margin-bottom: 8rem;
    margin-left: 0.2rem;
}

.introLink{
    text-decoration: none;
    padding: 1.2rem;
    background-color: orange;
    border: none;
    color: black;
    padding: 0.7rem;
    border-radius: 50%;
}

.introLink:visited{
    text-decoration: none;
    color: black;
}

.introButtonBlock{
    display: flex;
}