.burgerMenu {
    font-size:30px;
    cursor:pointer;
    color: orange;
    text-shadow:  1px 1px 2px black;
}

.navbarConnect{
    color: orange;
    text-decoration: none;
    text-shadow:  1px 1px 2px black;
}

.userProfil{
    color: orange;
}